.body-style {
	background-color: rgb(250,250,255);
	font-family: helvetica, ariel, sans-serif;
}

.container {
	margin: 0 auto;
	width: 1024px;
}

.title {
	text-align: center;
	color: rgb(120,120,240);
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	font-weight: bold;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: rgb(190,190,240);
}

.heading {
	text-align: center;
	color: rgb(120,120,120);
	font-size: 24px;
	font-weight: bold;
}

.nick-input-virgin {
	margin: 5 auto;
	width: 210px;
	display: block;
	color: rgb(120,120,120);
}

.nick-input {
	margin: 5 auto;
	width: 210px;
	display: block;
	color: rgb(70,70,70);
}

.invite {
	width: 200px;
	text-align: center;
	border-radius: 3px;
	color: rgb(70,70,70);
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(250,250,250);
}

.invite-send {
}

.invite-send:hover {
	color: rgb(40,40,80);
	cursor: pointer;
	border-color: rgb(120,120,240);
}

.invite-disabled {
	color: rgb(190,190,190);
}

@-webkit-keyframes pulse {
	0% {color: rgb(70,70,120)}
	50% {color: rgb(170,170,255)}
	100% {color: rgb(70,70,120)}
}

@-moz-keyframes pulse {
	0% {color: rgb(70,70,120)}
	50% {color: rgb(170,170,255)}
	100% {color: rgb(70,70,120)}
}

.invite-sent {
	-webkit-animation: pulse;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: pulse;
	-moz-animation-duration: 2500ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

.response {
	padding-top: 0px;
	padding-bottom: 15px;
	float: left;
}

.response-text-disabled {
	color: rgb(190,190,190);
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	width: 331px;
}

.response-text {
	color: rgb(90,90,90);
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	width: 331px;
	-webkit-animation: pulse;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: pulse;
	-moz-animation-duration: 2500ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

.response-buttons {
	border-radius: 3px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(250,250,250);
	width: 65px;
}

.response-buttons:hover {
}

.response-buttons-disabled {
	border-radius: 3px;
	color: rgb(190,190,190);
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(250,250,250);
	width: 65px;
}

.response-accept {
	cursor: pointer;
	color: rgb(70,70,70);
	float: right;
	text-align: center;
}

.response-accept:hover {
	color: rgb(40,40,80);
	border-color: rgb(120,120,240);
}

.response-accept-disabled {
	float: right;
	text-align: center;
}

.response-decline {
	cursor: pointer;
	color: rgb(70,70,70);
	float: left;
	text-align: center;
}

.response-decline:hover {
	color: rgb(80,40,40);
	border-color: rgb(240,120,120);
}

.response-decline-disabled {
	float: left;
	text-align: center;
}

.tech-text {
	font-style: oblique;
	color: rgb(70,70,70);
}

.fixed-column {
	float: left;
	margin: 4px;
	width: 330px;
}

.large-column {
	float: left;
	margin: 8px;
	width: 660px;
}

.comment {
	color: rgb(120,120,120);
	float: left;
	padding: 4px 20px;
}

.comment-heading {
	font-weight: bold;
}

.center-column {
	width: 341px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
}
